@import "../../global.scss";
.hero{
    background-color:#f3f3f7;
    display: flex;
    // background-image: linear-gradient(rgb(0, 241, 255), rgb(1, 97, 232) , rgb(41, 12, 255) , rgb(155, 0, 232), rgb(255, 1, 154));
    // background: url("maket.png");

    @include mobile{
        flex-direction: column;
        align-items: center;
      }


    .left{
        flex:0.5 ;
        overflow: hidden ;

        .imgContainer{
            width: 480px;
            height: 550px;
            // background-color:#769EEC;
            //  background-image: linear-gradient(rgb(0, 241, 255), rgb(1, 97, 232) , rgb(41, 12, 255) , rgb(155, 0, 232), rgb(255, 1, 154));
            border-radius: 70%;
            display: flex;
            align-items: flex-end;
            justify-content: center ;
            float: right;

            @include mobile{
                align-items:flex-start;
                background-image: linear-gradient(rgb(0, 241, 255), rgb(1, 97, 232) , rgb(41, 12, 255) , rgb(155, 0, 232), rgb(255, 1, 154));
        }

            // @include mobile{
            //     align-items: flex-start;
            //   }
        

            img{
                height: 100%;
                width: 100%;
                

                @include mobile{
                height: 66%;
                width: 60%;
                
                
              }
            }

            
        }
       
    }
    .right{
        flex:0.5;
        position: relative;


        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left:0px;
                align-items: center;
                // justify-content: flex-start;

                
              }


            h1{
                font-size: 50px;
                margin: 10px 0;
                text-align: center;
                @include mobile{
                    margin: 0;
                    font-size: 45px;
                  }
                
            }
            h2{
                font-size: 30px;
                text-align: center;
                
            
            }
            h3{
                font-size: 30px;
                text-align: center;
                
                
                

                span{
                    color: #ff7092;
                }

                .ityped-cursor {
                    font-size: 2.2rem;
                    opacity: 1;
                    -webkit-animation: blink 0.3s infinite;
                    -moz-animation: blink 0.3s infinite;
                    animation: blink 0.3s infinite;
                    animation-direction: alternate;
                }
                @keyframes blink {
                    100% {
                        opacity: 0;
                    }

                }
                @-webkit-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
                @-moz-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
            }


        }
        

        a{
            position: absolute;
            bottom: 10px;
            left: 55%;

            @include mobile {
                bottom: 5px;
                left: 45%;
            }

            img{
                width: 35px;
                animation: mest 1s infinite;
            }

            @keyframes mest {
                100%{
                    opacity: 0;
                }
                
            }
        }
    }

}